* {
    padding: 0;
    margin: 0;
    border: 0;
}

ul {
    list-style-type: none;
}

.image {
    width: 5%;
    height: 25%;
    margin-left: 5px;
}

.country {
    margin: 5px 0;
    display: flex;
}

.paginate {
    display: flex;
}

.paginate__button {
    margin: 5px;
}